body{
    background-color: lightpink;
    
}
h1{
    text-transform: uppercase;
    text-align: center;
}

body img{
    width: 200px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;

}
body textarea{
    width: 300px;
    height: 100px;


}
.card{
    text-align: center;
    font-size: 5,5rem;

}

body nav{
    text-align: right;
    font-size: large;
    font-weight: bold;
    background-color: white;
    h1{
        color: lightcoral;
    }
}
body .menu.html{
    background-color: lightcoral;
}